spring:
  application:
    name: ms-user

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: local_2025!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
  show-actuator: true

logging:
  level:
    com.example.msuser: DEBUG
    org.hibernate.SQL: DEBUG
